<!doctype html>
<html>
<head>
  <title>CamelloBailarin</title>
  <link rel=stylesheet type=text/css href="[% css_url %]">
</head>
<body>
  <div class=page>
  <h1>CamelloBailarin</h1>
     <div class=metanav>
     [% IF not session.logged_in %]
       <a href="[% login_url %]">Acceder</a>
     [% ELSE %]
       <a href="[% logout_url %]">Salir</a>
     [% END %]
  </div>
  [% IF msg %]
    <div class=flash> [% msg %] </div>
  [% END %]
  [% content %]
</div>
</body>
</html>
